<html>
	<head>
	</head>
	<body>
      <h3>Elija una palabra:</h3>
      <form action="/add_word" method="get">  
         <input type="text" name="word">  
         <input type="submit" value="Comenzar">  
      </form> 
	</body>
</html>
