<html>
	<head>
	</head>
	<body>
      <h2><%= @message %></h2>
      <h2>Estado: <%= @status_word %></h2>
      </br>
      <h3>Elija una Letra:</h3>
      <form method="post">  
         <input type="text" name="letter">  
         <input type="submit" value="Adivinar">  
      </form> 
	</body>
</html>
